
.User{
    color:rgb(50, 104, 0);
    font-size: 20px;
    text-align: right;
    
}
.margin{
    text-align: left;
    margin: 10px 50px;
}
.Background{
    background-image: url(img/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    margin: 0;
}
.Video{
    text-align: center;
    margin: 5px 10px;
}