@media  screen and (min-width: 525px) and (max-width:960px){
    .PC3 {
      display: none
    }
    .mobile1 {
      display: none
    }
    .PC2 {
      display: none
    }
    .PC1 {
     display: block
    }
  }
  
  @media  screen and (max-width: 525px) {
    .PC3 {
      display: none
    }
    .mobile1 {
      display: block
    }
    .PC2 {
     display: none
    }
    .PC1 {
     display: none
    }
}
  @media screen and (max-width: 1435px) and (min-width: 960px) {
    .PC3 {
        display: none
    }
    .mobile1 {
        display: none
    }                   
    .PC2 {
       display: block
    }
    .PC1 {
       display: none
    }
  }
 
  @media screen and (min-width: 1435px){
    .PC3 {
        display: block
    }
    .mobile1 {
        display: none
    }                   
    .PC2 {
       display: none
    }
    .PC1 {
       display: none
    }
  }
  @media screen and (max-width: 960px) and (min-width: 525px){
    .PC3 {
        display: none
    }
    .mobile1 {
        display: none
    }                   
    .PC2 {
       display: none
    }
    .PC1 {
       display: block
    }
  }
 
  @media screen and (min-width: 960px) and (max-width: 1435px) {
    .PC3 {
        display: none
    }
    .mobile1 {
        display: none
    }                   
    .PC2 {
       display: block
    }
    .PC1 {
       display: none
    }
  }
  .Background{
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: 1;
}
 .photo{

 }
  .User{
    color:rgb(50, 104, 0);
    font-size: 20px;
    text-align: right;
    
}
.margin{
    text-align: left;
    margin: 10px 50px;
}

body{
    margin: 0;
}
.logo{
    text-decoration: none;
    text-align: left;
    margin:  10px 30px;
}
.nagiev_photo{
    border-radius: 40px;
}
.tomat_photo{
    border-radius: 40px;
}
.Acsolotel_photo{
    border-radius: 40px;
}
.BBT2_photo{
    border-radius: 40px;
}
.FPS_photo{
    border-radius: 40px;
}
.minecraft_photo{
    border-radius: 40px;
}
.nagets_photo{
    border-radius: 40px;
}
.ROBLOX_photo{
    border-radius: 40px;
}
.nagiev_link{
    background-color: rgb(48, 213, 200);
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 700;
    font-family: sans-serif;
    text-decoration: none;
    padding: 17px 61px;
    border-radius: 40px;
}
.tomat_link{
    background-color: rgb(48, 213, 200);
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 700;
    font-family: sans-serif;
    text-decoration: none;
    padding: 17px 103px;
    border-radius: 40px;
}
.FPS_link{
    background-color: rgb(48, 213, 200);
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 700;
    font-family: sans-serif;
    text-decoration: none;
    padding: 17px 14px;
    border-radius: 40px;
}
.BBT2_link{
    background-color: rgb(48, 213, 200);
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 700;
    font-family: sans-serif;
    text-decoration: none;
    padding: 17px 61px;
    border-radius: 40px;
}
.ROBLOX_link{
    background-color: rgb(48, 213, 200);
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 700;
    font-family: sans-serif;
    text-decoration: none;
    padding: 17px 135px;
    border-radius: 40px;
}
.minecraft_link{
    background-color: rgb(35, 200, 255);
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 700;
    font-family: sans-serif;
    text-decoration: none;
    padding: 17px 160px;
    border-radius: 40px;
}
.nagets_link{
    background-color: rgb(48, 213, 200);
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 700;
    font-family: sans-serif;
    text-decoration: none;
    padding: 17px 68px;
    border-radius: 40px;
}
.Acsolotel_link{
    background-color: rgb(48, 213, 200);
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 700;
    font-family: sans-serif;
    text-decoration: none;
    padding: 18px 165px;
    border-radius: 40px;
}
.Link{
    background-color: rgb(100, 150, 10);
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 700;
    font-family: sans-serif;
    text-decoration: none;
    padding: 12px 10px;
    border-radius: 40px;
}
.Acsolotel_link:hover{
    background-color: rgb(17, 96, 98);
}
.minecraft_link:hover{
    background-color: rgb(17, 96, 98);
}
.nagets_link:hover{
    background-color: rgb(17, 96, 98);
}
.ROBLOX_link:hover{
    background-color: rgb(17, 96, 98);
}
.BBT2_link:hover{
    background-color: rgb(17, 96, 98);
}
.FPS_link:hover{
    background-color: rgb(17, 96, 98);
}
.tomat_link:hover{
    background-color: rgb(17, 96, 98);
}
.nagiev_link:hover{
    background-color: rgb(17, 96, 98);
}
.Background-m{
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: 1;
}
.nagiev_photo-m{
    height: 30vh;
    width: 50vh;
    border-radius: 40px;
}
.tomat_photo-m{
    height: 30vh;
    width: 50vh;
    border-radius: 40px;
}
.FPS_photo-m{
    height: 30vh;
    width: 50vh;
    border-radius: 40px;
}
.BBT2_photo-m{
    height: 30vh;
    width: 50vh;
    border-radius: 40px;
}
.ROBLOX_photo-m{
    height: 30vh;
    width: 50vh;
    border-radius: 40px;
}
.nagets_photo-m{
    height: 30vh;
    width: 50vh;
    border-radius: 40px;
}
.Acsolotel_photo-m{
    height: 30vh;
    width: 50vh;
    border-radius: 40px;
}
.minecraft_photo-m{
    height: 30vh;
    width: 50vh;
    border-radius: 40px;
}
.nagiev_link-m{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(35, 200, 255);
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 700;
    font-family: sans-serif;
    text-decoration: none;
    padding: 1vh 7vh;
    border-radius: 40px;
}
.Acsolotel_link-m{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(35, 200, 255);
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 700;
    font-family: sans-serif;
    text-decoration: none;
    padding: 1vh 7vh;
    border-radius: 40px;
}
.BBT2_link-m{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(35, 200, 255);
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 700;
    font-family: sans-serif;
    text-decoration: none;
    padding: 1vh 7vh;
    border-radius: 40px;
}
.FPS_link-m{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(35, 200, 255);
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 700;
    font-family: sans-serif;
    text-decoration: none;
    padding: 1vh 1vh;
    border-radius: 40px;
}
.minecraft_link-m{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(35, 200, 255);
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 700;
    font-family: sans-serif;
    text-decoration: none;
    padding: 1vh 7vh;
    border-radius: 40px;
}
.nagets_link-m{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(35, 200, 255);
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 700;
    font-family: sans-serif;
    text-decoration: none;
    padding: 1vh 7vh;
    border-radius: 40px;
}
.ROBLOX_lin-m{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(35, 200, 255);
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 700;
    font-family: sans-serif;
    text-decoration: none;
    padding: 1vh 7vh;
    border-radius: 40px;
}
.tomat_link-m{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(35, 200, 255);
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 700;
    font-family: sans-serif;
    text-decoration: none;
    padding: 1vh 7vh;
    border-radius: 40px;
}