    body {
        margin: 0;
        font-family: Arial, sans-serif;
        background-color: #f0f8ff; /* Азурный цвет фона */
        color: #333;
        text-align: center;
    }
	.linksPC a {
    color: #0066cc;
    text-decoration: none;
    margin: 0 10px;
    }